<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neon Admin Panel">
    <meta name="author" content="">

    <title>首页</title>


    {#    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">#}
    <link rel="stylesheet" href="/static/css/entypo.css">
    {#    <link rel="stylesheet" href="/static/css/css.css">#}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/neon-core.css">
    {#    <link rel="stylesheet" href="/static/css/neon-theme.css">#}
    {#    <link rel="stylesheet" href="/static/css/neon-forms.css">#}
    {#    <link rel="stylesheet" href="/static/css/custom.css">#}

    <script src="/static/js/jquery-1.11.0.min.js"></script>

    <!--[if lt IE 9]>
    <script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body  page-left-in" data-url="http://neon.dev">

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div class="sidebar-menu">


        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="index.html">
                    <h3 style="color: #fff;font-weight: bold;margin-top: 5px">招聘信息可视化系统</h3>
                </a>
            </div>


        </header>


        <div class="sidebar-user-info">

            <div class="sui-normal">
                <a href="#" class="user-link">
                    <img src="/media/{{ userInfo.avatar }}" width="120" alt="" class="img-circle"
                         style="width: 95%;border-radius: 50%">
                    <span style="text-align: center;padding-top: 209px">欢迎回来,</span>
                    <strong style="text-align: center;margin-top: 5px">{{ userInfo.username }}</strong>
                </a>
            </div>

        </div>


        <ul id="main-menu" class="">
            <li class="opened active">
                <a href="#">
                    <i class="entypo-gauge"></i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-user"></i>
                    <span>个人中心</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'selfInfo' %}">
                            <span>个人信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'changePassword' %}">
                            <span>修改密码</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">
                    <i class="entypo-layout"></i>
                    <span>数据统计</span>
                </a>
                <ul>
                    <li>
                        <a href={% url 'tableData' %}>
                            <span>数据总览</span>
                        </a>
                    </li>
                    <li>
                        <a href={% url 'historyData' %}>
                            <span>历史查阅</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-mail"></i>
                    <span>可视化图标</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'salary' %}">
                            <i class="entypo-inbox"></i>
                            <span>薪资情况</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'company' %}">
                            <i class="entypo-pencil"></i>
                            <span>企业情况</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'companyTags' %}">
                            <i class="entypo-attach"></i>
                            <span>福利词云</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'educational' %}">
                            <i class="entypo-attach"></i>
                            <span>学历分布</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'companyStatus' %}">
                            <i class="entypo-attach"></i>
                            <span>企业融资</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'address' %}">
                            <i class="entypo-attach"></i>
                            <span>城市类型</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="main-content">

        <div class="row" style="display: flex">

            <div class="col-md-6 col-sm-4 clearfix hidden-xs" style="margin-left: auto">

                <ul class="list-inline links-list pull-right">

                    <li class="sep"></li>

                    <li>
                        <a href="{% url 'logout' %}">
                            退出登录 <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h1>{{ dateInfo.month }} {{ dateInfo.day }},{{ dateInfo.year }} </h1>
                    <h3>Welcome to the site <strong>{{ userInfo.username }}</strong></h3>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-9">

                <div class="row">

                    <div class="col-sm-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">用户创建时间饼状图</div>

                                <div class="panel-options">
                                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"
                                       class="bg"><i class="entypo-cog"></i></a>
                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="main" style="width: 100%;height: 350px ;margin: 0px auto"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">最新用户信息</div>

                                <div class="panel-options">
                                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"
                                       class="bg"><i class="entypo-cog"></i></a>
                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                                </div>
                            </div>
                            <table class="table table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>用户名</th>
                                    <th>教育水平</th>
                                    <th>创建时间</th>
                                    <th>头像</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for u in userTops %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ u.username }}</td>
                                        <td>{{ u.educational }}</td>
                                        <td>{{ u.createTime }}</td>
                                        <td class="text-center">
                                            <img src="/media/{{ u.avatar }}" class="img-circle" width="32">
                                        </td>

                                        {#                                        <td class="text-center"><span class="pie">4,3,5</span></td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>
                                        数据获取时间树状图
                                    </h4>
                                </div>

                                <div class="panel-options">
                                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"
                                       class="bg"><i
                                            class="entypo-cog"></i></a>
                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                                </div>
                            </div>

                            <div class="panel-body no-padding">
                                <div id="mainTwo" style="width: 100%;height:450px  "></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-3">
                <div class="tile-stats tile-green">
                    <div class="icon"><i class="entypo-chart-bar"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.jobsLen }} data-postfix="" data-duration="1500"
                         data-delay="0">{{ tagDict.jobsLen }}
                    </div>

                    <h3>数据总量</h3>
                </div>
                <div class="tile-stats tile-red">
                    <div class="icon"><i class="entypo-user"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.usersLen }} data-postfix="" data-duration="1500"
                         data-delay="0">{{ tagDict.usersLen }}
                    </div>

                    <h3>用户数量统计</h3>
                </div>
                <div class="tile-stats tile-aqua">
                    <div class="icon"><i class="entypo-mail"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.educationsTop }} data-postfix=""
                         data-duration="1500"
                         data-delay="0">{{ tagDict.educationsTop }}
                    </div>

                    <h3>行业最高学历</h3>
                </div>
                <div class="tile-stats tile-orange">
                    <div class="icon"><i class="entypo-infinity"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.salaryTop }} data-postfix=""
                         data-duration="1500"
                         data-delay="0">{{ tagDict.salaryTop }}
                    </div>

                    <h3>行业最高薪资</h3>
                </div>
                <div class="tile-stats tile-cyan">
                    <div class="icon"><i class="entypo-network"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.addressTop }} data-postfix=""
                         data-duration="1500"
                         data-delay="0">{{ tagDict.addressTop }}
                    </div>

                    <h3>优势地点</h3>
                </div>
                <div class="tile-stats tile-brown">
                    <div class="icon"><i class="entypo-suitcase"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.salaryMonthTop }} data-postfix=""
                         data-duration="1500"
                         data-delay="0">{{ tagDict.salaryMonthTop }}
                    </div>

                    <h3>最高年底多薪</h3>
                </div>
                <div class="tile-stats tile-purple">
                    <div class="icon"><i class="entypo-dot-2"></i></div>
                    <div class="num" style="font-size: 24px" data-postfix="" data-duration="1500"
                         data-delay="0">
                        {% if not tagDict.praticeMax %}
                            正常岗位
                        {% else %}
                            实习岗位
                        {% endif %}
                    </div>

                    <h3>岗位性质</h3>
                </div>
            </div>

        </div>
    <div class="row">
        <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>
                                        地图
                                    </h4>
                                </div>

                                <div class="panel-options">
                                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"
                                       class="bg"><i
                                            class="entypo-cog"></i></a>
                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                                </div>
                            </div>

                            <div class="panel-body no-padding">
                                <button onclick="onBack()">返回上一级</button>
                                <div id="mainThree" style="width: 100%;height:400px "></div>
                            </div>
                        </div>
                    </div>
    </div>


        <footer class="main">

           Copyright &copy; 2023.招聘信息可视化系统.

        </footer>
    </div>


    <link rel="stylesheet" href="/static/css/jquery-jvectormap-2.0.5.css">
    <link rel="stylesheet" href="/static/css/rickshaw.min.css">

    <!-- Bottom Scripts -->
    <script src="/static/js/main-gsap.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/joinable.js"></script>
    <script src="/static/js/resizeable.js"></script>
    {#    <script src="/static/js/neon-api.js"></script>#}
    {#    <script src="/static/js/jquery.sparkline.min.js"></script>#}
    {#    <script src="/static/js/d3.v3.js"></script>#}
    {#    <script src="/static/js/rickshaw.min.js"></script>#}
    {#    <script src="/static/js/neon-chat.js"></script>#}
    <script src="/static/js/neon-custom.js"></script>
    <script src="/static/js/neon-demo.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    {##用户创建时间饼状图#}
    <script>
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: '用户数量',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 18,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: {{ userCreateData | safe }}
                }
            ]
        };

        option && myChart.setOption(option);


    </script>
    {#数据获取时间树状图#}
    <script>

        var app = {};

        var chartDom = document.getElementById('mainTwo');
        var myChart = echarts.init(chartDom);
        var option;

        const categories = (function () {
            let res = ['2023-04-06', '2023-04-08', '2023-04-17', '2023-04-15'];
            return res;
        })();
        const data = (function () {
            let res = [838, 467, 716, 222];
            return res;
        })();

        option = {
            title: {
                text: 'Dynamic Data'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#283b56'
                    }
                }
            },
            legend: {},
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: {
                show: false,
                start: 0,
                end: 100
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: true,
                    data: categories
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    scale: true,
                    name: 'Order',
                    max: 1200,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                }
            ],
            series: [
                {
                    name: 'Dynamic Bar',
                    type: 'bar',
                    data: data
                }
            ]
        };
        app.count = 11;
        setInterval(function () {
            let y = data.shift();
            data.push(y);
            let x = categories.shift();
            categories.push(x);
            myChart.setOption({
                xAxis: [
                    {
                        data: categories
                    }
                ],
                series: [
                    {
                        data: data
                    }
                ]
            });
        }, 2100);

        option && myChart.setOption(option);


    </script>
    {#地图#}
    <script>
        {#var ROOT_PATH = 'http://127.0.0.1:8000/static/json/';#}
        var ROOT_PATH = 'https://geojson.cn/api/data';
        var mCharts = echarts.init(document.getElementById('mainThree'))

        var provinces = {
            北京: 110000,
            天津: 120000,
            河北: 130000,
            山西: 140000,
            内蒙古: 150000,
            辽宁: 210000,
            吉林: 220000,
            黑龙江: 230000,
            上海: 310000,
            江苏: 320000,
            浙江: 330000,
            安徽: 340000,
            福建: 350000,
            江西: 360000,
            山东: 370000,
            河南: 410000,
            湖北: 420000,
            湖南: 430000,
            广东: 440000,
            广西: 450000,
            海南: 460000,
            重庆: 500000,
            四川: 510000,
            贵州: 520000,
            云南: 530000,
            西藏: 540000,
            陕西: 610000,
            甘肃: 620000,
            青海: 630000,
            宁夏: 640000,
            新疆: 650000,
            台湾: 710000,
            香港: 810000,
            澳门: 820000,
        }

        // 注册点击事件
        mCharts.on('click', function (params) {
            myChart.clear()
            if (provinces.hasOwnProperty(params.name)) {
                lastArea = nowArea  // 获取父级的区域
                let area = provinces[params.name]
                getMap(area)
            } else {
            }
        });
        myChart.on('dblclick', function (params) {
            alert('sss')
        })

        // 定义两个变量，nowArea储存当前的区域，lastArea存储父级区域（当前的区域将作为下一个区域的父级）
        let nowArea, lastArea

        getMap('china')


        // 请求地图json数据
        function getMap(area) {
            $.get(ROOT_PATH + `/${area}.json`, function (res) {

                // 注册地图的矢量数据
                echarts.registerMap('chinaMap', res)
                option = {
                    zoom: 5,
                    title: {
                        text: '中国地图',
                        left: 'right'
                    },
                    tooltip: {
                        trigger: 'item',
                        showDelay: 0,
                        transitionDuration: 0.2
                    },
                    visualMap: {
                        left: 'right',
                        min: 0,
                        max: 800,
                        inRange: {
                            color: [
                                '#313695',
                                '#4575b4',
                                '#74add1',
                                '#abd9e9',
                                '#e0f3f8',
                                '#ffffbf',
                                '#fee090',
                                '#fdae61',
                                '#f46d43',
                                '#d73027',
                                '#a50026'
                            ]
                        },
                        text: ['High', 'Low'],
                        calculable: true
                    },
                    toolbox: {
                        show: true,
                        //orient: 'vertical',
                        left: 'left',
                        top: 'top',
                        feature: {
                            dataView: {readOnly: false},
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    series: [
                        {
                            name: '个数',
                            type: 'map',
                            roam: true,
                            map: 'chinaMap',
                            emphasis: {
                                label: {
                                    show: true
                                }
                            },
                            data: {{ areasData | safe }}
                        }
                    ]
                };
                mCharts.setOption(option, true)

                nowArea = area  // 记录当前的区域，作为下一层级的父级mi
            })
        }

        //返回上一级
        function onBack() {
            getMap(lastArea)
        }

    </script>
</div>
</body>
</html>