<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neon Admin Panel">
    <meta name="author" content="">

    <title>首页</title>


{#    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">#}
    <link rel="stylesheet" href="/static/css/entypo.css">
{#    <link rel="stylesheet" href="/static/css/css.css">#}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/neon-core.css">
{#    <link rel="stylesheet" href="/static/css/neon-theme.css">#}
{#    <link rel="stylesheet" href="/static/css/neon-forms.css">#}
{#    <link rel="stylesheet" href="/static/css/custom.css">#}

    <script src="/static/js/jquery-1.11.0.min.js"></script>

    <!--[if lt IE 9]>
    <script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body  page-left-in" data-url="http://neon.dev">

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div class="sidebar-menu">


        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="index.html">
                    <h3 style="color: #fff;font-weight: bold;margin-top: 5px">招聘信息可视化系统</h3>
                </a>
            </div>


        </header>


        <div class="sidebar-user-info">

            <div class="sui-normal">
                <a href="#" class="user-link">
                    <img src="/media/{{ userInfo.avatar }}" width="120" alt="" class="img-circle"
                         style="width: 95%;border-radius: 50%">
                    <span style="text-align: center;padding-top: 209px">欢迎回来,</span>
                    <strong style="text-align: center;margin-top: 5px">{{ userInfo.username }}</strong>
                </a>
            </div>

        </div>


        <ul id="main-menu" class="">
            <li class="opened active">
                <a href="#">
                    <i class="entypo-gauge"></i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-user"></i>
                    <span>个人中心</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'selfInfo' %}">
                            <span>个人信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'changePassword' %}">
                            <span>修改密码</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">
                    <i class="entypo-layout"></i>
                    <span>数据统计</span>
                </a>
                <ul>
                    <li>
                        <a href={% url 'tableData' %}>
                            <span>数据总览</span>
                        </a>
                    </li>
                    <li>
                        <a href={% url 'historyData' %}>
                            <span>历史查阅</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-mail"></i>
                    <span>可视化图标</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'salary' %}">
                            <i class="entypo-inbox"></i>
                            <span>薪资情况</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'company' %}">
                            <i class="entypo-pencil"></i>
                            <span>企业情况</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'companyTags' %}">
                            <i class="entypo-attach"></i>
                            <span>福利词云</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'educational' %}">
                            <i class="entypo-attach"></i>
                            <span>学历分布</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'companyStatus' %}">
                            <i class="entypo-attach"></i>
                            <span>企业融资</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'address' %}">
                            <i class="entypo-attach"></i>
                            <span>城市类型</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="main-content">

        <div class="row" style="display: flex">

            <div class="col-md-6 col-sm-4 clearfix hidden-xs" style="margin-left: auto">

                <ul class="list-inline links-list pull-right">

                    <li class="sep"></li>

                    <li>
                        <a href="{% url 'logout' %}">
                            退出登录 <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h1>{{ dateInfo.month }} {{ dateInfo.day }},{{ dateInfo.year }} </h1>
                    <h3>Welcome to the site <strong>{{ userInfo.username }}</strong></h3>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-9">

                <div class="row">

                    <div class="col-sm-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">用户创建时间饼状图</div>

                                <div class="panel-options">
                                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"
                                       class="bg"><i class="entypo-cog"></i></a>
                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                                    {#                                    <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>#}
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="main" style="width: 100%;height: 300px ;margin: 0px auto">

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">最新用户信息</div>

                                <div class="panel-options">
                                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"
                                       class="bg"><i class="entypo-cog"></i></a>
                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                                </div>
                            </div>
                            <table class="table table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>用户名</th>
                                    <th>教育水平</th>
                                    <th>创建时间</th>
                                    <th>头像</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for u in userTops %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ u.username }}</td>
                                        <td>{{ u.educational }}</td>
                                        <td>{{ u.createTime }}</td>
                                        <td class="text-center">
                                            <img src="/media/{{ u.avatar }}" class="img-circle" width="32">
                                        </td>

                                        {#                                        <td class="text-center"><span class="pie">4,3,5</span></td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>
                                数据获取时间树状图
                            </h4>
                        </div>

                        <div class="panel-options">
                            <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i
                                    class="entypo-cog"></i></a>
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                            <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        </div>
                    </div>

                    <div class="panel-body no-padding">
                        <div id="rickshaw-chart-demo-2">
                            <div id="mainTwo" style="width: 100%;height:390px "></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">
                <div class="tile-stats tile-green">
                    <div class="icon"><i class="entypo-chart-bar"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.jobsLen }} data-postfix="" data-duration="1500"
                         data-delay="0">{{ tagDict.jobsLen }}
                    </div>

                    <h3>数据总量</h3>
                </div>
                <div class="tile-stats tile-red">
                    <div class="icon"><i class="entypo-user"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.usersLen }} data-postfix="" data-duration="1500"
                         data-delay="0">{{ tagDict.usersLen }}
                    </div>

                    <h3>用户数量统计</h3>
                </div>
                <div class="tile-stats tile-aqua">
                    <div class="icon"><i class="entypo-mail"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.educationsTop }} data-postfix=""
                         data-duration="1500"
                         data-delay="0">{{ tagDict.educationsTop }}
                    </div>

                    <h3>行业最高学历</h3>
                </div>
                <div class="tile-stats tile-orange">
                    <div class="icon"><i class="entypo-infinity"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.salaryTop }} data-postfix=""
                         data-duration="1500"
                         data-delay="0">{{ tagDict.salaryTop }}
                    </div>

                    <h3>行业最高薪资</h3>
                </div>
                <div class="tile-stats tile-cyan">
                    <div class="icon"><i class="entypo-network"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.addressTop }} data-postfix=""
                         data-duration="1500"
                         data-delay="0">{{ tagDict.addressTop }}
                    </div>

                    <h3>优势地点</h3>
                </div>
                <div class="tile-stats tile-brown">
                    <div class="icon"><i class="entypo-suitcase"></i></div>
                    <div class="num" data-start="0" data-end={{ tagDict.salaryMonthTop }} data-postfix=""
                         data-duration="1500"
                         data-delay="0">{{ tagDict.salaryMonthTop }}
                    </div>

                    <h3>最高年底多薪</h3>
                </div>
                <div class="tile-stats tile-purple">
                    <div class="icon"><i class="entypo-dot-2"></i></div>
                    <div class="num" style="font-size: 24px" data-postfix="" data-duration="1500"
                         data-delay="0">
                        {% if not tagDict.praticeMax %}
                            正常岗位
                        {% else %}
                            实习岗位
                        {% endif %}
                    </div>

                    <h3>岗位性质</h3>
                </div>
            </div>

        </div>



        <footer class="main">

            Copyright &copy; 2021.Company name All rights reserved.<a target="_blank"
                                                                      href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>

        </footer>
    </div>


    <link rel="stylesheet" href="/static/css/jquery-jvectormap-2.0.5.css">
    <link rel="stylesheet" href="/static/css/rickshaw.min.css">

    <!-- Bottom Scripts -->
    <script src="/static/js/main-gsap.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/joinable.js"></script>
    <script src="/static/js/resizeable.js"></script>
{#    <script src="/static/js/neon-api.js"></script>#}
{#    <script src="/static/js/jquery.sparkline.min.js"></script>#}
{#    <script src="/static/js/d3.v3.js"></script>#}
{#    <script src="/static/js/rickshaw.min.js"></script>#}
{#    <script src="/static/js/neon-chat.js"></script>#}
    <script src="/static/js/neon-custom.js"></script>
    <script src="/static/js/neon-demo.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    {##用户创建时间饼状图#}
    <script>
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: '用户数量',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 18,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: {{ userCreateData | safe }}
                }
            ]
        };

        option && myChart.setOption(option);

    </script>
    <script>

        var app = {};

        var chartDom = document.getElementById('mainTwo');
        var myChart = echarts.init(chartDom);
        var option;

        const categories = (function () {
            let res =
            {{ row | safe }}
            return res;
        })();
        const categories2 = (function () {
            let res = [];
            let len = 10;
            while (len--) {
                res.push(10 - len - 1);
            }
            return res;
        })();
        const data = (function () {
            let res = {{ column | safe }};

            return res;
        })();
        const data2 = (function () {
            let res = [];
            let len = 0;
            while (len < 10) {
                res.push(+(Math.random() * 10 + 5).toFixed(1));
                len++;
            }
            return res;
        })();
        option = {
            title: {
                text: 'Dynamic Data'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#283b56'
                    }
                }
            },
            legend: {},
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: {
                show: false,
                start: 0,
                end: 100
            },
            xAxis: [
                {
                    type: 'value',
                    boundaryGap: true,
                    data: categories
                },
                {
                    type: 'category',
                    boundaryGap: true,
                    data: categories2
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    scale: true,
                    name: 'Price',
                    max: 30,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                },
                {
                    type: 'value',
                    scale: true,
                    name: 'Order',
                    max: 1200,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                }
            ],
            series: [
                {
                    name: 'Dynamic Bar',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: data
                },
                {

                    name: 'Dynamic Bs',
                    type: 'line',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: data2
                }
            ]
        };
        app.count = 11;
        setInterval(function () {
            let axisData = new Date().toLocaleTimeString().replace(/^\D*/, '');
            data.shift();
            data.push(Math.round(Math.random() * 1000));
            data2.shift();
            data2.push(+(Math.random() * 10 + 5).toFixed(1));
            categories.shift();
            categories.push(axisData);
            categories2.shift();
            categories2.push(app.count++);
            myChart.setOption({
                xAxis: [
                    {
                        data: categories
                    },
                    {
                        data: categories2
                    }
                ],
                series: [
                    {
                        data: data
                    },
                    {
                        data: data2
                    }
                ]
            });
        }, 2100);

        option && myChart.setOption(option);

    </script>
</div>
</body>
</html>